################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Formalności
/pomysły wstępne.txt
/Backend/Models/obj
/Backend/Consumers/bin/Debug/net7.0
/Backend/Consumers/obj/Debug/net7.0
/Backend/Consumers/obj
obj
bin
