################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Formalności
/pomysły wstępne.txt
/Backend/Models/obj
