networks:
  ups-net:


services:
  base:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - ups-net
    command: postgres -c 'max_connections=1000'

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080
    networks:
      - ups-net

  backend:
    deploy:
      mode: replicated
      replicas: 2
      resources:
        limits:
          cpus: 16
          memory: 4000M
    build:
      context: ./Backend
    ports:
      - 2443-2444:443
      - 2080-2081:80
    depends_on:
      - base
    networks:
      - ups-net
    volumes:
      - ~/.dotnet/https:/https:ro
    environment:
      FRONTEND_ORIGIN: https://localhost:3000
      ASPNETCORE_URLS: https://+
      ASPNETCORE_HTTPS_PORT: 2443
      ASPNETCORE_Kestrel__Certificates__Default__Password: "qazxsw23ed"
      ASPNETCORE_Kestrel__Certificates__Default__Path: "/https/aspnetapp.pfx"

volumes:
  postgres-data:
