networks:
  ups-net:

services:
 writebase:
   image: postgres:16
   restart: always
   environment:
     POSTGRES_USER: postgres
     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
   volumes:
     - postgres-data-write:/var/lib/postgresql/data
     - ./Backend/config/00_init.sql:/docker-entrypoint-initdb.d/00_init.sql
     - ./Backend/config/write_hba.conf:/var/etc/postgresql/custom_hba.conf
   networks:
     - ups-net
   ports:
     - 5432:5432
   command: |
      postgres 
      -c hba_file=/var/etc/postgresql/custom_hba.conf
      -c wal_level=replica 
      -c hot_standby=on 
      -c max_wal_senders=10 
      -c max_replication_slots=10 
      -c hot_standby_feedback=on

 readbase:
   image: postgres:16
   environment:
     POSTGRES_USER: postgres
     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
   volumes:
     - postgres-data-read:/var/lib/postgresql/data
   networks:
     - ups-net
   ports:
     - 5433:5432
   depends_on:
     - writebase
   command: |
      bash -c "
      echo 'Cleaning replica data directory as root'
      rm -rf /var/lib/postgresql/data/*

      echo 'Waiting for primary...'
      sleep 2

      echo 'Running pg_basebackup as postgres'
      su postgres -c '
        pg_basebackup --pgdata=/var/lib/postgresql/data -R --slot ups --host=writebase --port=5432 -X stream -v -w -U postgres
      '

      echo 'Fixing ownership'
      chmod -R 0700 /var/lib/postgresql/data

      echo 'Backup done. Starting replica...'
      exec su postgres -c postgres
      "

 adminer:
   image: adminer
   restart: always
   ports:
     - 8080:8080
   networks:
     - ups-net

 backend:
   build:
     context: ./Backend
   ports:
     - 2443:443
     - 2080:80
   depends_on:
     - readbase
     - writebase
   networks:
     - ups-net
   volumes:
     - ~/.dotnet/https:/https:ro
   environment:
     FRONTEND_ORIGIN: https://localhost:3000
     ASPNETCORE_URLS: https://+
     ASPNETCORE_HTTPS_PORT: 2443
     ASPNETCORE_Kestrel__Certificates__Default__Password: "qazxsw23ed"
     ASPNETCORE_Kestrel__Certificates__Default__Path: "/https/aspnetapp.pfx"
     
 
 frontend:
   build:
     context: ./Frontend/ups
   ports:
     - 3000:3000
   networks:
     - ups-net
   environment:
     REACT_APP_BACKEND_URL: https://localhost:2443
     
volumes:
 postgres-data-read:
 postgres-data-write:
