networks:
  ups-net:


services:
  writebase:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./Backend/config/startup.sh:/startup.sh:ro
      - ./Backend/config/write_hba.conf:/var/etc/postgresql/custom_hba.conf
    networks:
      - ups-net
    entrypoint: [ "bash", "/startup.sh" ]

  readbase:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - ups-net
    depends_on:
      - writebase
    command: |
      bash -c "
      echo 'Cleaning replica data directory as root'
      rm -rf /var/lib/postgresql/data/*

      echo 'Waiting for primary...'
      sleep 2

      echo 'Running pg_basebackup as postgres'
      su postgres -c '
        pg_basebackup --pgdata=/var/lib/postgresql/data -R --slot ups --host=writebase --port=5432 -X stream -v -w -U postgres
      '

      echo 'Fixing ownership'
      chmod -R 0700 /var/lib/postgresql/data

      echo 'Backup done. Starting replica...'
      exec su postgres -c '
        postgres -c max_connections=1000
      '
      "
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - ups-net

  backend:
    deploy:
      resources:
        limits:
          cpus: 12
          memory: 3000M
    build:
      context: ./Backend
    ports:
      - 2443:443
      - 2080:80
    depends_on:
      - readbase
      - writebase
    networks:
      - ups-net
    volumes:
      - ~/.dotnet/https:/https:ro
    environment:
      FRONTEND_ORIGIN: https://localhost:3000
      ASPNETCORE_URLS: https://+
      ASPNETCORE_HTTPS_PORT: 2443
      ASPNETCORE_Kestrel__Certificates__Default__Password: "qazxsw23ed"
      ASPNETCORE_Kestrel__Certificates__Default__Path: "/https/aspnetapp.pfx"

  frontend:
    build:
      context: ./Frontend/ups
    ports:
      - 3000:3000
    networks:
      - ups-net
    environment:
      REACT_APP_BACKEND_URL: https://localhost:2443

volumes:
  postgres-data-read:
  postgres-data-write:
