networks:
  ups-net:

services:
 base:
   image: postgres:16
   restart: always
   environment:
     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
   volumes:
     - postgres-data:/var/lib/postgresql/data
   networks:
     - ups-net

 adminer:
   image: adminer
   restart: always
   ports:
     - 8080:8080
   networks:
     - ups-net

 backend:
   deploy:
     resources:
      limits:
        cpus: 2
        memory: 500M
   build:
     context: ./Backend
   volumes:
     - ~/.dotnet/https:/https:ro
   ports:
     - 2443:443
     - 2080:80
   depends_on:
     - base
   networks:
     - ups-net
   environment:
     FRONTEND_ORIGIN: https://localhost:3000
     ASPNETCORE_URLS: https://+
     ASPNETCORE_HTTPS_PORT: 2443
     ASPNETCORE_Kestrel__Certificates__Default__Password: "qazxsw23ed"
     ASPNETCORE_Kestrel__Certificates__Default__Path: "/https/aspnetapp.pfx"
     
 
 frontend:
   build:
     context: ./Frontend/ups
   ports:
     - 3000:3000
   networks:
     - ups-net
   environment:
     REACT_APP_BACKEND_URL: https://localhost:2443
     
volumes:
 postgres-data:
