.app {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: lightgray;
}

.navbar-title {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color:white
}

.navbar-login {
  margin-left: 1rem;
  margin-right: 2rem;
  text-decoration: none;
  color: gray;
  display: flex;
  align-items: center;

  .username {
    margin-right: 1rem;
  }
}

.error-msg {
  font-size: 90%;
  border: 1px solid crimson;
  background-color: pink;
  border-radius: 1px 1px 6px 6px;
  padding: 2px 5px 3px 5px;
}

.darkred {
  background-color: darkred;
  color: white;
}

.darkblue {
  background-color: #212529;
  color: white;
}

.Toastify__toast-container--top-right {
  top: 4em;
  width: 350px;
}

.align-left {
  display: flex;
  margin-top: 1rem;
}

.info-label {
  text-align: right;
}

.param-label {
  text-align: left;
}

.param-label-options {
  font-style: italic;
  opacity: 0.7;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.option-item {
  border: lightgray solid thin;
  font-size: 90%;
  font-style: italic;
  background-color: whitesmoke;
  text-align: left;
}

.delete-option {
  margin-right: -3%;
}

.option-row {
  width: 100%;
}

.salepath-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30rem;
  width: 100%;
}

.alert {
  margin: auto;
  margin-top: 2rem;
  width: 50%;
}